<div class="mt-5 mx-auto text-center">
    <h1 class="mb-5">CEBlocks</h1>

    <div class="row">
        <div class="col-4 offset-4">
            <p>
                <a href="/AddProvider" class="btn btn-primary btn-lg btn-block" target="_blank">Add a Provider</a>
            </p>

            <p>
                <a href="/AddPartner" class="btn btn-info btn-lg btn-block" target="_blank">Add a Partner</a>
            </p>
        </div>
    </div>
    
</div>