<div class="mt-5 mx-auto">
    <h1 class="mb-5 text-center">Log In to Your CEBlocks Account</h1>

    <form class="form" method="post" autocomplete="off">
        <p>
            <label>Email Address</label>
            <input type="email" class="form-control" id="email" name="email"/>            
        </p>

        <p>
            <label>Password</label>
            <input type="password" class="form-control" id="password" name="password"/>            
        </p>

        <p>
            <button type="submit" class="btn btn-primary">Log In</button>
        </p>
    </form>
    
</div>